logs
docs/_build
.cache

# Webassets
.webassets-cache
bower_components
node_modules
webassets-external
tailon/assets/vendor/fontawesome/less
tailon/assets/vendor/fontawesome/scss

*.py[cod]
TAGS
.sass-cache
assets/css/main.css

# C extensions
*.so

# Packages
*.egg
*.egg-info
__pycache__/
*.py[oc]
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

\#*\#
