# make github and sdist happy
include README.rst
include LICENSE
recursive-include tailon/assets/fonts *
recursive-include tailon/assets/gen *
recursive-include tailon/templates *
prune tailon/assets/scss
prune tailon/assets/.sass-cache
