$ttfonts: Bitstream Vera Sans Mono,Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Courier New, monospace;

@mixin box-shadow($top, $left, $blur, $color, $inset:'') {
  -webkit-box-shadow: #{$inset} $top $left $blur $color;
  -moz-box-shadow: #{$inset} $top $left $blur $color;
  box-shadow: #{$inset} $top $left $blur $color;
}

@mixin box-sizing($value) {
  -webkit-box-sizing: $value;
  -moz-box-sizing: $value;
  -ms-box-sizing: $value;
  -o-box-sizing: $value;
  box-sizing: $value;
}

@mixin display-flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-direction($value) {
  -webkit-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}

@mixin flex-wrap($value) {
  -webkit-flex-wrap: $value;
  -ms-flex-wrap: $value;
  flex-wrap: $value;
}

@mixin align-content($value) {
  -webkit-align-content: $value;
  -ms-flex-line-pack: $value;
  align-content: $value;
}

@mixin align-items($value) {
  -webkit-box-align: $value;
  -moz-box-align: $value;
  -webkit-align-items: $value;
  -ms-flex-align: $value;
  align-items: $value;
}

@mixin flex($grow, $shrink, $basis) {
  -moz-box-flex: $grow;
  -webkit-flex: $grow $shrink $basis;
  -ms-flex: $grow $shrink $basis;
  flex: $grow $shrink $basis;
}

@mixin align-self($value) {
  -webkit-align-self: $value;
  -ms-flex-item-align: $value; // @todo flex-start -> start
  align-self: $value;
}

@mixin order($value) {
  -webkit-box-ordinal-group: $value+1;
  -moz-box-ordinal-group: $value+1;
  -webkit-order: $value;
  -ms-flex-order: $value;
  order: $value;
}