//----------------------------------------------------------------------------
// Fonts
//----------------------------------------------------------------------------
$ttfonts: Bitstream Vera Sans Mono,Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Courier New, monospace;


//----------------------------------------------------------------------------
// Colors
//----------------------------------------------------------------------------
$tailon-logview-background-color: #1d1f21;
$tailon-logview-text-color:  #c5c8c6;
$tailon-toolbar-background-color: #282a2e;
$tailon-toolbar-input-background-color: #373b41;
